@import 'tailwindcss';

html {
  /* Background color is set on html element because:
   * - HTML always fills the entire viewport, even if body content is shorter
   * - Overscroll areas (bounce effect on iOS/macOS) show the html background,
   *   setting it on body alone would show white/default color during
   *   overscroll.
   */
  @apply bg-gray-100 dark:bg-gray-900;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  @apply text-gray-900 dark:text-gray-100;
  font-family: var(--font-inter);
}

.font-mono {
  font-family: var(--font-source-code-pro);
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 0.025em;
  white-space: nowrap;
}
